@{
    ViewBag.Title = "PhenoCare - Batch Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact-top-buffer">
    <div class="col-md-offset-1 col-md-10 ">
        <div class="bg-primary well-sm">
            <h1>Batch Schedule</h1>
            <p>Here are our upcoming batch schedules. If you are intrested, please let us know.</p>
        </div>
        <hr />
              <table class="table table-striped">
            <tr>
                <th>Technology
                </th>
                <th>Start Date
                </th>
                <th>Days
                </th>
                <th>Timings
                </th>
                <th></th>
            </tr>
            <tr>
                <td>Selenium(<b>Corporate - RS 6999</b>)</td>
                <td>06-July-14</td>
                <td>Sat - Sun</td>
                <td>3.00 pm - 6.00 pm</td>
                <td>
                    <a href="/Enrollment?course=Selenium" class="btn btn-success">Register
                    </a>
                </td>
            </tr>
            <tr>
                <td>.NET MVC(<b>Corporate - RS 6999</b>)</td>
                <td>05-July-14</td>
                <td>Sat - Sun</td>
                <td>9.00 am - 12.00 pm</td>
                <td>
                    <a href="/Enrollment?course=.NET%20MVC" class="btn btn-success">Register
                    </a>
                </td>
            </tr>
 <tr>
                <td>Diploma in JAVA</td>
                <td>14-July-14</td>
                <td>Mon - Fri</td>
                <td>10.00 am - 04.00 pm</td>
                <td>
                    <a href="/Enrollment?course=Diploma%20in%20JAVA" class="btn btn-success">Register
                    </a>
                </td>
            </tr>             

         <tr>
                <td>Diploma in MS.Net</td>
                <td>14-July-14</td>
                <td>Mon - Fri</td>
                <td>10.00 am - 04.00 pm</td>
                <td>
                    <a href="/Enrollment?course=Diploma%20in%20MS.Net" class="btn btn-success">Register
                    </a>
                </td>
            </tr>  
            <tr>
                <td>C#.Net - <b>RS 2499</b></td>
                <td>14-July-14</td>
                <td>Mon - Sat</td>
                <td>07.30 am - 09.30 pm</td>
                <td>
                    <a href="/Enrollment?course=C%23.Net" class="btn btn-success">Register
                    </a>
                </td>
            </tr>
             <tr>
                <td>Advance Java - <b>RS 6999</b></td>
                <td>14-July-14</td>
                <td>Mon - Sat</td>
                <td>7:00 pm - 9.00 pm</td>
                <td>
                    <a href="/Enrollment?course=Core%20Java%20and%20Advance%20Java" class="btn btn-success">Register
                    </a>
                </td>
            </tr>  
             <tr>
                <td>Core Java and Advance Java</td>
                <td>12-July-14</td>
                <td>Mon - Fri</td>
                <td>7:30 am - 11.30 am</td>
                <td>
                    <a href="/Enrollment?course=Core%20Java%20and%20Advance%20Java" class="btn btn-success">Register
                    </a>
                </td>
            </tr>  
            <tr>
                <td>C# and ASP.Net</td>
                <td>12-July-14</td>
                <td>Mon - Fri</td>
                <td>7:30 am - 11.30 am</td>
                <td>
                    <a href="/Enrollment?course=Core%20Java%20and%20Advance%20Java" class="btn btn-success">Register
                    </a>
                </td>
            </tr>  

      <tr>
                <td>Diploma in Testing</td>
                <td>10-July-14</td>
                <td>Mon - Fri</td>
                <td>10.00 am - 04.00 pm</td>
                <td>
                    <a href="/Enrollment?course=Diploma%20in%20Testing" class="btn btn-success">Register
                    </a>
                </td>
            </tr>
            <tr>
                <td>Core Java - <b>RS 2499</b></td>
                <td>10-July-14</td>
                <td>Mon - Sat</td>
                <td>05.00 am - 07.00 pm</td>
                <td>
                    <a href="/Enrollment?course=Core%20Java" class="btn btn-success">Register
                    </a>
                </td>
            </tr>
             
             <tr>
                <td>C Programming - <b>RS 1499</b></td>
                <td>10-July-14</td>
                <td>Mon - Sat</td>
                <td>05.00 am - 07.00 pm</td>
                <td>
                    <a href="/Enrollment?course=C%20Programming" class="btn btn-success">Register
                    </a>
                </td>
            </tr>
            <tr>
                <td>C++ Programming - <b>RS 1099</b></td>
                <td>10-July-14</td>
                <td>Mon - Sat</td>
                <td>05.00 am - 07.00 pm</td>
                <td>
                    <a href="/Enrollment?course=C%2B%2B%20Programming" class="btn btn-success">Register
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

@section pageScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $("#batchschedule").addClass('active');
        });
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51105728-1', 'phenocare.com');
        ga('send', 'pageview');

    </script>
}